{
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false
      },
      "react-hot-loader/babel"
    ]
   ],
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-2",
    "react"
  ]
}
