/*
 * @Author: guangwei.bao 
 * @Date: 2018-09-18 23:43:33 
 * @Last Modified by: guangwei.bao
 * @Last Modified time: 2018-09-21 14:49:11
 * @Describe: 无
 */
@import '../../sass/index';

#welcome {
	@extend %border-full;
	background-image: url('../../images/welcome/overlay-vignette.png');
	background-size: 100% 100%;
	position: relative;
	.background {
		position: absolute;
		@extend %border-full;
		z-index: -1;
		.img {
			@extend %border-full;
		}
	}

	// 中间部分
	.content {
		@extend %border-full;
		color: $welcome-font-color;
		display: flex;
		flex-direction: column;
		.body {
			@extend %border-full;
			flex: 1;
			@extend %flex-center;
			.date {
				@include flex-center(column,center,center);
				font-weight: $welcome-font-weight;
				div {
					font-size: 165px;
				}
				span {
					font-size: 55px;
				}
			}
		}
		
	}

	// 4个角落
	.angle {
		%angle {
			position: absolute;
			color: $welcome-font-color;
			opacity: $welcome-font-opacity;
			font-weight: $welcome-font-weight;
			cursor: pointer;
		}
		.left-top {
			@extend %angle;
			opacity: 1;
			top: 1%;
			left: 1%;
		}
		.left-bottom {
			@extend %angle;
			bottom: 1%;
			left: 1%;
		}
		.right-top {
			@extend %angle;
			top: 0;
			right: 0;
			width: 120px;
			height: 120px;
		}
		.right-bottom {
			@extend %angle;
			bottom: 1%;
			right: 1%;
			padding: 2px 5px;
		}

		@each $i in left-bottom, right-top, right-bottom {
			.#{$i}:hover {
				opacity: 1;
				transition: opacity .3s;
			}
		}
	}
}
