/*
 * @Author: guangwei.bao 
 * @Date: 2018-09-18 22:30:10 
 * @Last Modified by: guangwei.bao
 * @Last Modified time: 2018-09-19 18:02:35
 * @Describe: 无
 */
@import '../../../sass/index';

#toolbar {
	display: flex;
	flex-direction: row;
	height: $welcome-toolbar-height;
	align-items: center;
	justify-content: center;
	.left {
		width: 60%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		div {
			width: 50px;
			height: 50px;
			color: #333;
			font-weight: 900;
			font-size: 40px;
			background: #fff;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		span {
			font-size: 37px;
			font-weight: 700;
			color: #fff;
			letter-spacing: 1px;
		}
	}
	.right {
		flex: 1;

		// ?? 写个循环
		.item {
			display: inline-block;
			padding: 0 px2rem(13px);
			text-align: center;
			font-size: px2rem(22px);
			font-weight: 900;
			color: $welcome-font-color;
			opacity: $welcome-font-opacity;
			cursor: pointer;

			&:hover {
				// background: #ffffff;
				opacity: 1;
				// color: #33b0fc;
				-webkit-transition: opacity .3s;
				transition: opacity .3s;
			}
		}
	}
}
