/*
 * @Author: guangwei.bao 
 * @Date: 2018-09-18 23:37:59 
 * @Last Modified by: guangwei.bao
 * @Last Modified time: 2018-09-20 15:28:28
 * @Describe: 混合指令
 * 混合指令在'%'的基础上做了一点扩展，指令返回了一段css样式，嵌入在css当中；
 */

//  混合指令
@mixin silly-links {
	a {
		color: blue;
		background-color: red;
	}
}
@include silly-links;

// 带参数
@mixin sexy-border($color, $width) {
	border: {
		color: $color;
		width: $width;
		style: dashed;
	}
}
p {
	@include sexy-border(blue, 1in);
}
