/*
 * @Author: guangwei.bao 
 * @Date: 2018-09-11 15:25:00 
 * @Last Modified by: guangwei.bao
 * @Last Modified time: 2018-09-18 10:44:23
 */
@import "../../../sass/variables";
#team1 {
	.header {
		margin: 12px 0;
	}
	.content1 {
		color: lime;
		padding: 24px;
		background: #fff;
		min-height: 260px;
		.initCount {
			font-size: $big;
			cursor: pointer;
		}
		// .table {
		// 	border: 1px solid red;
		// }
	}
}
