%common {
	font-size: 25px;
	position: absolute;
	bottom: 2%;
	left: 2%;
	color: white;
	cursor: pointer;
}
.setting1 {
	@extend %common;
	opacity: .5;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg) scale(1);
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;
}
.setting2 {
	@extend %common;
	opacity: .8;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg) scale(1.5);
	-webkit-transition: -webkit-transform .5s;
	transition: transform .5s;
}
.content {
	p {
		cursor: pointer;
	}
}
