/*
 * @Author: guangwei.bao 
 * @Date: 2018-09-18 22:33:52 
 * @Last Modified by: guangwei.bao
 * @Last Modified time: 2018-09-20 16:41:54
 * @Describe: 无
 */
@import '../../sass/index';

%common {
	// position: absolute;
	height: 40px;
	// bottom: 0;
	// left: 1%;
	// color: $welcome-font-color;
	cursor: pointer;
	font-size: 25px;
	@include flex-center(row,center,center);
}

@for $i from 1 through 2 {
	.setting_#{$i} {
		// 延伸复杂的选择器
		// @extend a:hover;
		@extend %common;
		@if $i==1 {
			opacity: $welcome-font-opacity;
		} @if $i==2 {
			opacity: 1;
		}

		@for $i from 1 through 2 {
			.icon_#{$i} {
				@if $i==1 {
					transform: rotate(-45deg) scale(1);
				} @else if $i==2 {
					transform: rotate(45deg) scale(1.3);
				}
				transition: transform .5s;
			}
		}
		span {
			font-size: px2rem(10px);
		}
	}
	// .setting_#{$i}:hover {
	// 	opacity: 1;
	// 	transition: opacity .3s;
	// }
}

.content {
	p {
		cursor: pointer;
	}
}
